{% extends "webapp/card.html" %}
{% load qr_tags %}

{% block title %}Session{% endblock %}

{% block content %}

<div class="media">
    <span class="border">{% qr_from_text session_url "s" %}</span>
    <div class="media-body ml-3">
        Das hier ist eine Session mit der ID {{game_session.id}}. Die Session ist öffentlich zugänglich.
        Andere Teilnehmer können darauf zugreifen, indem sie dem Session-Link folgen:
        <br><br>
        Session-Link: <a href="{{session_url}}">{{session_url}}</a>
    </div>
</div>
<br>
<a href="{%url 'endsession' session_id=game_session.id %}" class="btn btn-danger">Session beenden</a>
{% endblock %}