{% extends "webapp/base.html" %}

{% block title %}SmartDice{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm">
        {% include "webapp/session-card.html" %}
    </div>
    <div class="col-sm-5">
        {% include "webapp/dice-card.html" %}
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm">
        {% include "webapp/results-card.html" %}
    </div>
    <div class="col-sm-5">
        {% include "webapp/users-card.html" %}
    </div>
</div>
{% endblock %}
